.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  #readability-matters-site {
    width: 100%;
    > header {
      border-bottom: 2px solid #ddc000;
      #logo-link {
        display: inline-block;
        height: 0.875in;
        box-sizing: border-box;
        padding: 0.1625in 4vw;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  .hr_yellow{
    margin-top:10px;
    margin-bottom:10px;
    border-bottom: 2px solid #5e5e5e;
  }
  .div_bg{
    background: #ddc000;
    margin-top:0px;color:#000;
  }
  .reset_button_bg{
    background: #ddc000;
    margin-top:0px!important;
    color:#fff;
    font-weight:600;
    font-family:Montserrat;
    cursor:pointer;
  }
  .rabbit_img{
    float: left; margin: 0px 15px 15px 0px;width: 106px;
  }
  .reset_bg{
    background: #5d5d5d!important;
  }
  .reset_img_padding{
    padding: 5px;
  }
  